<!DOCTYPE html>
<html> <head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style id='linux-text-cluster-inline-quolltech-css' type='text/css'>
  body {margin: 0;}
  #top { position:fixed; top:86px; left:72px; transform:rotate(90deg); transform-origin:0% 0%; background-color: #f94701; background-image: linear-gradient(to right,#a6a6a6,#c9c925,#1e73be,#fe36f9,#0fe22a,#fe4809); text-align:center; padding:5px; border-radius:5px; opacity:0.9;}
  #top div {font-size:14px;}
  h2 { font-size:20px; margin-bottom:10px; margin-top:10px; }
  #test_frame {width:100vw;height:99vh;border:0px hidden;margin:0;padding:0;}
</style> </head>
<body>
<div id="top"> <h2>Linux Cluster Test: Cps, Pacemaker, Corosync</h2> <div>{{ inventory_hostname }} - by Quoll Tech</div> </div>
<iframe id="test_frame" src="https://quoll.it/servizi-chiedi-un-preventivo/"></iframe>
<script type="text/javascript">
  function quoll_resize() {el=document.getElementById("top"); el_h=el.offsetHeight; el.style.left = el_h +"px";}  
  quoll_resize()
  window.onresize = quoll_resize;
</script>
</body> </html>
